
.flex-container-funds {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item-funds {
  flex: 1;
  align-self: center;
}
