$color-primary: #0171bf;
$color-secondary: #F2F2F2;
$color-background: #FFFFFF;
$color-white: #FFFFFF;
$color-black: #000000;
$color-shadow: #DEDEDE;
$color-gradient1: #30CFD0;
$color-gradient2: #330867;

