<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CryptoKart</title>
</head>
<body>
<div id="root"></div>
<!-- webpack generate html -->
<%- partial('../../.tmp/public/index.html') %>
</body>
</html>
